<div class="container">
  <div class="jumbotron">

    <h2>Editing Pizza</h2>
    <hr>

    <%= render 'form' %>

    <%= link_to 'Show', @pizza %> |
    <%= link_to 'Back', pizzas_path %>
  </div>
</div>
