@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
    font-family: Turtle;
    src: url(/Turtles.ttf);
}

.navbar{
  height: 100px;
  border-radius: 0px;
  border: 0px;
  background-color: rgba(120,0,0,0.0);
}

.navbar .navbar-brand {
    position: relative;
    top: 35px;
    font-family: Turtle;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 55px;
    color: #1c1;
    -webkit-transform: rotate(-0deg); /* Chrome, Safari, Opera */
}

.navbar-nav{
  position: relative;
    top: 35px;
}

.title1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  background: -webkit-linear-gradient(#fc0, #f70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100px;
}


.title{
  font-family: 'Lobster', cursive;
  font-size: 40px;
  Color: white;
}

body {
  background: linear-gradient(#d00, #700, #600);
  background-repeat: no-repeat;
   height: 100%;
  margin: 0;
  background-attachment: fixed;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

hr.style-one {
    border: 0;
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 120, 0, 0), rgba(255, 120, 0, 0.75), rgba(255, 120, 0, 0));
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.panel {
  font-family: 'Lobster', cursive;
  color: #eee;
  box-shadow: 0px 2px 1px #f90;
  border: 1px solid #f90;
  background: linear-gradient(rgba(255,0,0,0),rgba(255,123,0,0.2));
}

.panel-default > .panel-heading{
  color: #fb0;
  text-align: center;
  font-size: 30px;
  background-color: rgba(255,0,0,0.1);
}

@media only screen and (min-width: 979px) {
  .pizza {
     width: 350px;
     height: 400px;
     margin: 10px;
  }
}
@media only screen and (max-width: 979px) {
 .container {
    width: 100%;
  }
}
a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: none;
  }
}

.ui-sortable-placeholder {
    border: 2px dashed #0d0;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background: #8e8;
}

.right{
  float: right;
}
.left{
  float: left;
}

.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}

.newpizza{
  background-color: transparent;
  border: 1px solid #fff;
  &:hover {
  background-color: white;
  border: 1px solid #fff;
  color: black;
  }
}