<div class="container">
  <div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doe_kind.name %>
</p>

<%= link_to 'Edit', edit_doe_kind_path(@doe_kind) %> |
<%= link_to 'Back', doe_kinds_path %>
</div>
</div>